<h1>Gnip API demos<h1>
<h2>30-day Search --> @tweets </h2>  
<h2>@tweets.ids --> Engagement API</h2>  
<h2>@tweets.actor.ids --> Audience API</h2>    
  

<h3>
</br>
<a href="/display_search_results">Click to get Tweets</a>
</br>
<a href="/get_engagements">Click to get Engagement metrics</a>
</br>
<a href="/get_audience">Click to build Audience (coming?)</a>
</h3>
